@charset "UTF-8";
@import url(../../lib/font/roboto/Roboto.css);
@import url(../../lib/font/roboto-mono/Roboto-mono.css);
section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: white; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: white;
  background-color: white; }

.reveal {
  font-family: Roboto, sans-serif;
  font-size: 28pt;
  font-weight: normal;
  color: #323335; }

::selection {
  color: #fff;
  background: #699f00;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #699f00;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #323335;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 1.77em; }

.reveal h2 {
  font-size: 1.33em; }

.reveal h3 {
  font-size: 1.11em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: "Roboto Mono", monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: "Roboto Mono", monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 700px;
  word-wrap: normal; }

.reveal .center-horizontal table {
  margin: auto; }

.reveal table {
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #699f00;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #9cec00;
  text-shadow: none;
  border: none; }

.reveal.has-dark-background a, section.has-dark-background a {
  color: #9cec00; }

.reveal.has-dark-background a:hover, section.has-dark-background a:hover {
  color: #bcff39; }

.reveal .roll span:after {
  color: #fff;
  background: #365300; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img.shadow {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #323335;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #699f00;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #699f00; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #699f00; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #699f00; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #699f00; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #9cec00; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #9cec00; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #9cec00; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #9cec00; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #699f00;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.center-horizontal {
  text-align: center; }

.center-vertical {
  display: flex;
  align-items: center;
  bottom: 0;
  top: 0; }

.overlap-fragment {
  position: absolute;
  max-width: 100%;
  max-height: 100%; }

.half-left {
  width: 48.4%;
  min-height: 28pt;
  float: left;
  position: relative;
  padding-right: 0.5rem;
  margin-left: 1%;
  margin-right: 0.5%; }

.half-right {
  width: 48.4%;
  min-height: 28pt;
  float: right;
  position: relative;
  padding-left: 0.5rem;
  margin-left: 0.5%;
  margin-right: 1%; }

.third-left {
  width: 31.9%;
  float: left;
  position: relative;
  padding-right: 0.25rem;
  margin-left: 1%;
  margin-right: 0.5%; }

.third-center {
  width: 31.9%;
  float: left;
  position: relative;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  margin-left: 0.5%;
  margin-right: 0.5%; }

.third-right {
  width: 31.9%;
  float: right;
  position: relative;
  padding-left: 0.25rem;
  margin-left: 0.5%;
  margin-right: 1%; }

.reveal div.underfloating {
  clear: both;
  padding-top: 20px; }

.reveal blockquote {
  width: 90%;
  display: flex;
  align-items: center;
  margin: 20px 5%;
  padding: 0;
  background-color: #f5f5f5; }
  .reveal blockquote::before {
    margin: 20px;
    background-image: url("img/ic_quote.svg");
    background-color: transparent;
    background-size: 46.6px 46.6px;
    display: inline-block;
    width: 46.6px;
    height: 46.6px;
    content: ""; }
  .reveal blockquote.noveo-success {
    background-color: #dff0d8; }
    .reveal blockquote.noveo-success::before {
      background-image: url(img/ic_check.svg); }
  .reveal blockquote.noveo-info {
    background-color: #d9edf7; }
    .reveal blockquote.noveo-info::before {
      background-image: url(img/ic_info.svg); }
  .reveal blockquote.noveo-warn, .reveal blockquote.noveo-warning {
    background-color: #f2dede; }
    .reveal blockquote.noveo-warn::before, .reveal blockquote.noveo-warning::before {
      background-image: url(img/ic_warn.svg); }

div.pdf-page {
  height: 951px !important; }
  div.pdf-page ul.table-of-content {
    overflow: hidden; }

ul.table-of-content {
  list-style: none;
  padding: 0;
  overflow-x: hidden;
  width: 70%;
  margin: 20px auto !important; }
  ul.table-of-content a + span {
    float: right;
    padding-left: 1em;
    background: white; }
  ul.table-of-content ul {
    margin: 20px 0 20px 20px !important; }
  ul.table-of-content li:not(.nested):before {
    float: left;
    width: 0;
    white-space: nowrap;
    content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "; }
  ul.table-of-content li.nested:before {
    content: none; }
  ul.table-of-content li::before {
    content: none; }
  ul.table-of-content li a:first-child {
    padding-right: 0.33em;
    background: white; }

.reveal .slides .how-its-made {
  position: absolute !important;
  top: 1em !important;
  right: 1em !important;
  text-align: right;
  width: auto !important;
  background-color: #daffe1; }

.reveal .slides #contents .how-its-made {
  top: 4em !important; }

.pdf-page .how-its-made {
  display: none; }

.reveal a.not-ready {
  color: #aaaaaa; }

.reveal a.link-example {
  color: #1f2484; }

#header-left {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 1000;
  opacity: 0.95;
  display: block;
  width: 277px;
  height: 70px;
  background-image: url("img/label_android.svg");
  background-size: 277px 70px;
  -webkit-print-color-adjust: exact; }

#header-right {
  position: absolute;
  top: 54px;
  right: 80px;
  z-index: 1000;
  display: block;
  width: 242px;
  height: 94px;
  background-image: url("img/university-logo.svg");
  background-size: 242px 94px;
  -webkit-print-color-adjust: exact; }

#footer-right::after {
  position: absolute;
  bottom: 54px;
  right: 80px;
  z-index: 1000;
  content: "";
  color: #9e9e9e;
  display: block; }

.has-dark-background #header-left {
  background-image: url("img/label_android_inverted.svg"); }

.has-dark-background #header-right {
  background-image: url("img/university-logo-white.svg"); }

.has-dark-background #footer-right::after {
  color: transparent; }

.has-light-background #footer-right::after {
  color: transparent; }

html {
  font-size: 28pt; }

.reveal.has-dark-background .slide-number span, .reveal.has-light-background .slide-number span {
  color: transparent; }

.reveal .slides > section, .reveal .slides .pdf-page > section {
  width: 91%;
  padding: 174px 80px 80px 80px; }
  .reveal .slides > section section, .reveal .slides .pdf-page > section section {
    width: 92.5%;
    margin-top: 154px; }
    .reveal .slides > section section.has-dark-background, .reveal .slides > section section.center, .reveal .slides > section section.center-vertical, .reveal .slides .pdf-page > section section.has-dark-background, .reveal .slides .pdf-page > section section.center, .reveal .slides .pdf-page > section section.center-vertical {
      padding-top: 60px;
      margin-top: 60px; }
  .reveal .slides > section.noveo-title, .reveal .slides .pdf-page > section.noveo-title {
    font-size: 32pt;
    padding-top: 80px; }
    .reveal .slides > section.noveo-title *, .reveal .slides .pdf-page > section.noveo-title * {
      width: 50%; }
    .reveal .slides > section.noveo-title .title-separator, .reveal .slides .pdf-page > section.noveo-title .title-separator {
      margin: 0;
      width: 200px;
      border-bottom: 2px solid #699f00; }
    .reveal .slides > section.noveo-title h1, .reveal .slides .pdf-page > section.noveo-title h1 {
      font-size: 2.14em;
      font-weight: 700;
      margin-bottom: 60px; }
    .reveal .slides > section.noveo-title h2, .reveal .slides .pdf-page > section.noveo-title h2 {
      font-size: 0.57em;
      text-transform: uppercase;
      color: #9e9e9e;
      margin-top: 60px; }
  .reveal .slides > section div.borders, .reveal .slides .pdf-page > section div.borders {
    border: 1px solid #699f00;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; }
    .reveal .slides > section div.borders img, .reveal .slides .pdf-page > section div.borders img {
      max-height: 100%;
      max-width: 100%; }
  .reveal .slides > section img, .reveal .slides .pdf-page > section img {
    border: none;
    box-shadow: none; }

.reveal ul, .reveal ul ul, .reveal ul ul ul {
  display: block;
  margin: 20px 0 0 0;
  list-style: none !important;
  padding: 0; }
  .reveal ul > li, .reveal ul ul > li, .reveal ul ul ul > li {
    padding-left: 1em;
    text-indent: -0.7em; }
    .reveal ul > li::before, .reveal ul ul > li::before, .reveal ul ul ul > li::before {
      content: "● ";
      color: #699f00; }

.reveal ol, .reveal ol ol, .reveal ol ol ol {
  display: block;
  margin: 20px 0 0 0;
  list-style: none !important;
  padding: 0; }
  .reveal ol > li, .reveal ol ol > li, .reveal ol ol ol > li {
    padding-left: 1em;
    text-indent: -0.7em;
    counter-increment: ordered-list; }
    .reveal ol > li::before, .reveal ol ol > li::before, .reveal ol ol ol > li::before {
      content: counter(ordered-list) ". ";
      color: #699f00; }

.reveal .noveo-image-header {
  max-width: 35%;
  text-transform: uppercase;
  color: white;
  opacity: 0.9;
  line-height: 1.5;
  background-color: #699f00;
  margin-left: -80px;
  padding: 54px 80px 54px 80px; }

.reveal .slide-number {
  left: 80px;
  bottom: 54px;
  right: auto;
  background: none; }
  .reveal .slide-number span {
    font-family: "Roboto Mono", monospace;
    font-size: 28pt;
    color: #9e9e9e; }

.reveal pre {
  min-width: 100%; }

.reveal pre code {
  font-size: 16.8pt;
  line-height: 25.2pt; }
  .reveal pre code.tiny {
    font-size: 9.3333333333pt;
    line-height: 14pt; }
  .reveal pre code.small {
    font-size: 11.2pt;
    line-height: 16.8pt; }
  .reveal pre code.large {
    font-size: 25.2pt;
    line-height: 37.8pt; }

@media (max-width: 1680px) {
  html {
    font-size: 19.88pt; }
  .reveal .slides > section, .reveal .slides .pdf-page > section {
    padding: 123.54px 56.8px 56.8px 56.8px; }
    .reveal .slides > section section, .reveal .slides .pdf-page > section section {
      margin-top: 109.34px; }
      .reveal .slides > section section.has-dark-background, .reveal .slides > section section.center, .reveal .slides > section section.center-vertical, .reveal .slides .pdf-page > section section.has-dark-background, .reveal .slides .pdf-page > section section.center, .reveal .slides .pdf-page > section section.center-vertical {
        padding-top: 42.6px;
        margin-top: 42.6px; }
    .reveal .slides > section.noveo-title, .reveal .slides .pdf-page > section.noveo-title {
      font-size: 22.72pt;
      padding-top: 56.8px; }
      .reveal .slides > section.noveo-title .title-separator, .reveal .slides .pdf-page > section.noveo-title .title-separator {
        width: 142px;
        border-bottom: 1px solid #699f00; }
      .reveal .slides > section.noveo-title h1, .reveal .slides .pdf-page > section.noveo-title h1 {
        margin-bottom: 42.6px; }
      .reveal .slides > section.noveo-title h2, .reveal .slides .pdf-page > section.noveo-title h2 {
        margin-top: 42.6px; }
    .reveal .slides > section div.borders, .reveal .slides .pdf-page > section div.borders {
      padding: 14.2px; }
  .reveal ul, .reveal ul ul, .reveal ul ul ul {
    margin: 14.2px 0 0 0; }
  .reveal ol, .reveal ol ol, .reveal ol ol ol {
    margin: 14.2px 0 0 0; }
  .reveal .noveo-image-header {
    margin-left: -56.8px;
    padding: 38.34px 56.8px 38.34px 56.8px; }
  .reveal .slide-number {
    left: 56.8px;
    bottom: 38.34px; }
    .reveal .slide-number span {
      font-size: 19.88pt; }
  .reveal pre code {
    font-size: 11.928pt;
    line-height: 17.892pt; }
    .reveal pre code.tiny {
      font-size: 6.6266666667pt;
      line-height: 9.94pt; }
    .reveal pre code.small {
      font-size: 7.952pt;
      line-height: 11.928pt; }
    .reveal pre code.large {
      font-size: 17.892pt;
      line-height: 26.838pt; } }

@media (max-width: 1366px) {
  html {
    font-size: 14.84pt; }
  .reveal .slides > section, .reveal .slides .pdf-page > section {
    padding: 92.22px 42.4px 42.4px 42.4px; }
    .reveal .slides > section section, .reveal .slides .pdf-page > section section {
      margin-top: 81.62px; }
      .reveal .slides > section section.has-dark-background, .reveal .slides > section section.center, .reveal .slides > section section.center-vertical, .reveal .slides .pdf-page > section section.has-dark-background, .reveal .slides .pdf-page > section section.center, .reveal .slides .pdf-page > section section.center-vertical {
        padding-top: 31.8px;
        margin-top: 31.8px; }
    .reveal .slides > section.noveo-title, .reveal .slides .pdf-page > section.noveo-title {
      font-size: 16.96pt;
      padding-top: 42.4px; }
      .reveal .slides > section.noveo-title .title-separator, .reveal .slides .pdf-page > section.noveo-title .title-separator {
        width: 106px;
        border-bottom: 1px solid #699f00; }
      .reveal .slides > section.noveo-title h1, .reveal .slides .pdf-page > section.noveo-title h1 {
        margin-bottom: 31.8px; }
      .reveal .slides > section.noveo-title h2, .reveal .slides .pdf-page > section.noveo-title h2 {
        margin-top: 31.8px; }
    .reveal .slides > section div.borders, .reveal .slides .pdf-page > section div.borders {
      padding: 10.6px; }
  .reveal ul, .reveal ul ul, .reveal ul ul ul {
    margin: 10.6px 0 0 0; }
  .reveal ol, .reveal ol ol, .reveal ol ol ol {
    margin: 10.6px 0 0 0; }
  .reveal .noveo-image-header {
    margin-left: -42.4px;
    padding: 28.62px 42.4px 28.62px 42.4px; }
  .reveal .slide-number {
    left: 42.4px;
    bottom: 28.62px; }
    .reveal .slide-number span {
      font-size: 14.84pt; }
  .reveal pre code {
    font-size: 8.904pt;
    line-height: 13.356pt; }
    .reveal pre code.tiny {
      font-size: 4.9466666667pt;
      line-height: 7.42pt; }
    .reveal pre code.small {
      font-size: 5.936pt;
      line-height: 8.904pt; }
    .reveal pre code.large {
      font-size: 13.356pt;
      line-height: 20.034pt; } }

@media (max-width: 1024px) {
  html {
    font-size: 10.92pt; }
  .reveal .slides > section, .reveal .slides .pdf-page > section {
    padding: 67.86px 31.2px 31.2px 31.2px; }
    .reveal .slides > section section, .reveal .slides .pdf-page > section section {
      margin-top: 60.06px; }
      .reveal .slides > section section.has-dark-background, .reveal .slides > section section.center, .reveal .slides > section section.center-vertical, .reveal .slides .pdf-page > section section.has-dark-background, .reveal .slides .pdf-page > section section.center, .reveal .slides .pdf-page > section section.center-vertical {
        padding-top: 23.4px;
        margin-top: 23.4px; }
    .reveal .slides > section.noveo-title, .reveal .slides .pdf-page > section.noveo-title {
      font-size: 12.48pt;
      padding-top: 31.2px; }
      .reveal .slides > section.noveo-title .title-separator, .reveal .slides .pdf-page > section.noveo-title .title-separator {
        width: 78px;
        border-bottom: 1px solid #699f00; }
      .reveal .slides > section.noveo-title h1, .reveal .slides .pdf-page > section.noveo-title h1 {
        margin-bottom: 23.4px; }
      .reveal .slides > section.noveo-title h2, .reveal .slides .pdf-page > section.noveo-title h2 {
        margin-top: 23.4px; }
    .reveal .slides > section div.borders, .reveal .slides .pdf-page > section div.borders {
      padding: 7.8px; }
  .reveal ul, .reveal ul ul, .reveal ul ul ul {
    margin: 7.8px 0 0 0; }
  .reveal ol, .reveal ol ol, .reveal ol ol ol {
    margin: 7.8px 0 0 0; }
  .reveal .noveo-image-header {
    margin-left: -31.2px;
    padding: 21.06px 31.2px 21.06px 31.2px; }
  .reveal .slide-number {
    left: 31.2px;
    bottom: 21.06px; }
    .reveal .slide-number span {
      font-size: 10.92pt; }
  .reveal pre code {
    font-size: 6.552pt;
    line-height: 9.828pt; }
    .reveal pre code.tiny {
      font-size: 3.64pt;
      line-height: 5.46pt; }
    .reveal pre code.small {
      font-size: 4.368pt;
      line-height: 6.552pt; }
    .reveal pre code.large {
      font-size: 9.828pt;
      line-height: 14.742pt; } }

@media (max-width: 750px) {
  html {
    font-size: 7pt; }
  .reveal .slides > section, .reveal .slides .pdf-page > section {
    padding: 43.5px 20px 20px 20px; }
    .reveal .slides > section section, .reveal .slides .pdf-page > section section {
      margin-top: 38.5px; }
      .reveal .slides > section section.has-dark-background, .reveal .slides > section section.center, .reveal .slides > section section.center-vertical, .reveal .slides .pdf-page > section section.has-dark-background, .reveal .slides .pdf-page > section section.center, .reveal .slides .pdf-page > section section.center-vertical {
        padding-top: 15px;
        margin-top: 15px; }
    .reveal .slides > section.noveo-title, .reveal .slides .pdf-page > section.noveo-title {
      font-size: 8pt;
      padding-top: 20px; }
      .reveal .slides > section.noveo-title .title-separator, .reveal .slides .pdf-page > section.noveo-title .title-separator {
        width: 50px;
        border-bottom: 1px solid #699f00; }
      .reveal .slides > section.noveo-title h1, .reveal .slides .pdf-page > section.noveo-title h1 {
        margin-bottom: 15px; }
      .reveal .slides > section.noveo-title h2, .reveal .slides .pdf-page > section.noveo-title h2 {
        margin-top: 15px; }
    .reveal .slides > section div.borders, .reveal .slides .pdf-page > section div.borders {
      padding: 5px; }
  .reveal ul, .reveal ul ul, .reveal ul ul ul {
    margin: 5px 0 0 0; }
  .reveal ol, .reveal ol ol, .reveal ol ol ol {
    margin: 5px 0 0 0; }
  .reveal .noveo-image-header {
    margin-left: -20px;
    padding: 13.5px 20px 13.5px 20px; }
  .reveal .slide-number {
    left: 20px;
    bottom: 13.5px; }
    .reveal .slide-number span {
      font-size: 7pt; }
  .reveal pre code {
    font-size: 4.2pt;
    line-height: 6.3pt; }
    .reveal pre code.tiny {
      font-size: 2.3333333333pt;
      line-height: 3.5pt; }
    .reveal pre code.small {
      font-size: 2.8pt;
      line-height: 4.2pt; }
    .reveal pre code.large {
      font-size: 6.3pt;
      line-height: 9.45pt; } }

@media (max-width: 1680px) {
  #header-left {
    top: 42.6px;
    width: 196.67px;
    height: 49.7px;
    background-size: 196.67px 49.7px; }
  #header-right {
    top: 38.34px;
    right: 56.8px;
    width: 171.82px;
    height: 66.74px;
    background-size: 171.82px 66.74px; }
  #footer-right::after {
    bottom: 38.34px;
    right: 56.8px; } }

@media (max-width: 1366px) {
  #header-left {
    top: 31.8px;
    width: 146.81px;
    height: 37.1px;
    background-size: 146.81px 37.1px; }
  #header-right {
    top: 28.62px;
    right: 42.4px;
    width: 128.26px;
    height: 49.82px;
    background-size: 128.26px 49.82px; }
  #footer-right::after {
    bottom: 28.62px;
    right: 42.4px; } }

@media (max-width: 1024px) {
  #header-left {
    top: 23.4px;
    width: 108.03px;
    height: 27.3px;
    background-size: 108.03px 27.3px; }
  #header-right {
    top: 21.06px;
    right: 31.2px;
    width: 94.38px;
    height: 36.66px;
    background-size: 94.38px 36.66px; }
  #footer-right::after {
    bottom: 21.06px;
    right: 31.2px; } }

@media (max-width: 750px) {
  #header-left {
    top: 15px;
    width: 69.25px;
    height: 17.5px;
    background-size: 69.25px 17.5px; }
  #header-right {
    top: 13.5px;
    right: 20px;
    width: 60.5px;
    height: 23.5px;
    background-size: 60.5px 23.5px; }
  #footer-right::after {
    bottom: 13.5px;
    right: 20px; } }

@media (max-width: 1680px) {
  .reveal {
    font-size: 19.88pt; }
    .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
      margin: 0 0 14.2px 0; }
    .reveal p {
      margin: 14.2px 0; }
    .reveal ul ul,
    .reveal ul ol,
    .reveal ol ol,
    .reveal ol ul,
    .reveal dd {
      margin-left: 28.4px; }
    .reveal blockquote {
      margin: 14.2px auto;
      padding: 3.55px; }
    .reveal pre {
      margin: 14.2px auto; }
      .reveal pre code {
        padding: 3.55px;
        max-height: 497px; } }

@media (max-width: 1366px) {
  .reveal {
    font-size: 14.84pt; }
    .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
      margin: 0 0 10.6px 0; }
    .reveal p {
      margin: 10.6px 0; }
    .reveal ul ul,
    .reveal ul ol,
    .reveal ol ol,
    .reveal ol ul,
    .reveal dd {
      margin-left: 21.2px; }
    .reveal blockquote {
      margin: 10.6px auto;
      padding: 2.65px; }
    .reveal pre {
      margin: 10.6px auto; }
      .reveal pre code {
        padding: 2.65px;
        max-height: 371px; } }

@media (max-width: 1024px) {
  .reveal {
    font-size: 10.92pt; }
    .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
      margin: 0 0 7.8px 0; }
    .reveal p {
      margin: 7.8px 0; }
    .reveal ul ul,
    .reveal ul ol,
    .reveal ol ol,
    .reveal ol ul,
    .reveal dd {
      margin-left: 15.6px; }
    .reveal blockquote {
      margin: 7.8px auto;
      padding: 1.95px; }
    .reveal pre {
      margin: 7.8px auto; }
      .reveal pre code {
        padding: 1.95px;
        max-height: 273px; } }

@media (max-width: 750px) {
  .reveal {
    font-size: 7pt; }
    .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
      margin: 0 0 5px 0; }
    .reveal p {
      margin: 5px 0; }
    .reveal ul ul,
    .reveal ul ol,
    .reveal ol ol,
    .reveal ol ul,
    .reveal dd {
      margin-left: 10px; }
    .reveal blockquote {
      margin: 5px auto;
      padding: 1.25px; }
    .reveal pre {
      margin: 5px auto; }
      .reveal pre code {
        padding: 1.25px;
        max-height: 175px; } }

@media (max-width: 1680px) {
  .reveal div.underfloating {
    padding-top: 14.2px; }
  .reveal blockquote {
    margin: 14.2px 5%; }
    .reveal blockquote::before {
      margin: 14.2px;
      background-size: 33.086px 33.086px;
      width: 33.086px;
      height: 33.086px; }
  ul.table-of-content {
    margin: 14.2px auto !important; }
    ul.table-of-content ul {
      margin: 14.2px 0 14.2px 14.2px !important; } }

@media (max-width: 1366px) {
  .reveal div.underfloating {
    padding-top: 10.6px; }
  .reveal blockquote {
    margin: 10.6px 5%; }
    .reveal blockquote::before {
      margin: 10.6px;
      background-size: 24.698px 24.698px;
      width: 24.698px;
      height: 24.698px; }
  ul.table-of-content {
    margin: 10.6px auto !important; }
    ul.table-of-content ul {
      margin: 10.6px 0 10.6px 10.6px !important; } }

@media (max-width: 1024px) {
  .reveal div.underfloating {
    padding-top: 7.8px; }
  .reveal blockquote {
    margin: 7.8px 5%; }
    .reveal blockquote::before {
      margin: 7.8px;
      background-size: 18.174px 18.174px;
      width: 18.174px;
      height: 18.174px; }
  ul.table-of-content {
    margin: 7.8px auto !important; }
    ul.table-of-content ul {
      margin: 7.8px 0 7.8px 7.8px !important; } }

@media (max-width: 750px) {
  .reveal div.underfloating {
    padding-top: 5px; }
  .reveal blockquote {
    margin: 5px 5%; }
    .reveal blockquote::before {
      margin: 5px;
      background-size: 11.65px 11.65px;
      width: 11.65px;
      height: 11.65px; }
  ul.table-of-content {
    margin: 5px auto !important; }
    ul.table-of-content ul {
      margin: 5px 0 5px 5px !important; } }
