@charset "UTF-8";
@import url(../../lib/font/roboto/Roboto.css);
@import url(../../lib/font/roboto-mono/Roboto-mono.css);
section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: white; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: white;
  background-color: white; }

.reveal {
  font-family: Roboto, sans-serif;
  font-size: 28pt;
  font-weight: normal;
  color: #323335; }

::selection {
  color: #fff;
  background: #699f00;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #699f00;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #323335;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 1.77em; }

.reveal h2 {
  font-size: 1.33em; }

.reveal h3 {
  font-size: 1.11em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: "Roboto Mono", monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: "Roboto Mono", monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 700px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #699f00;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #9cec00;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #365300; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #323335;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #699f00;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #699f00; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #699f00; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #699f00; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #699f00; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #9cec00; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #9cec00; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #9cec00; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #9cec00; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #699f00;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.center-horizontal {
  text-align: center; }

.center-vertical {
  bottom: 0;
  top: 0; }

.overlap-fragment {
  position: absolute;
  max-width: 100%;
  max-height: 100%; }

.half-left {
  width: 50%;
  float: left;
  position: relative;
  padding-right: 0.5rem; }

.half-right {
  width: 50%;
  float: right;
  position: relative;
  padding-left: 0.5rem; }

.third-left {
  width: 33.3%;
  float: left;
  position: relative;
  padding-right: 0.25rem; }

.third-center {
  width: 33.3%;
  float: left;
  position: relative;
  padding-right: 0.25rem;
  padding-left: 0.25rem; }

.third-right {
  width: 33.3%;
  float: right;
  position: relative;
  padding-left: 0.25rem; }

.reveal div.underfloating {
  clear: both;
  padding-top: 20px; }

#header-left {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 1000;
  opacity: 0.95;
  display: block;
  width: 277px;
  height: 70px;
  background-image: url("img/label_android.svg");
  background-size: 277px 70px;
  -webkit-print-color-adjust: exact; }

#header-right {
  position: absolute;
  top: 54px;
  right: 80px;
  z-index: 1000;
  display: block;
  width: 242px;
  height: 94px;
  background-image: url("img/university-logo.svg");
  background-size: 242px 94px;
  -webkit-print-color-adjust: exact; }

#footer-right::after {
  position: absolute;
  bottom: 54px;
  right: 80px;
  z-index: 1000;
  content: "noveo.ru";
  color: #9e9e9e;
  display: block; }

.has-dark-background #header-right {
  background-image: url("img/university-logo-white.svg"); }

.has-dark-background #footer-right::after {
  color: transparent; }

.has-light-background #footer-right::after {
  color: transparent; }

/*@media(max-width: 1024px) {
  #header-right {
    width: $logoWidth*$mobileScreenScale;
    height: $logoHeight*$mobileScreenScale;
    background-size: $logoWidth*$mobileScreenScale $logoHeight*$mobileScreenScale;
  }

  #header-left {
    width: $labelWidth*$mobileScreenScale;
    height: $labelHeight*$mobileScreenScale;
    background-size: $labelWidth*$mobileScreenScale $labelHeight*$mobileScreenScale;
  }
}*/
.reveal.has-dark-background .slide-number span {
  color: white; }

.reveal .slides > section, .reveal .slides .pdf-page > section {
  width: 91%;
  padding: 174px 80px 80px 80px; }
  .reveal .slides > section > section, .reveal .slides .pdf-page > section > section {
    margin-top: 154px; }
  .reveal .slides > section.noveo-title, .reveal .slides .pdf-page > section.noveo-title {
    font-size: 32pt;
    padding-top: 80px; }
    .reveal .slides > section.noveo-title *, .reveal .slides .pdf-page > section.noveo-title * {
      width: 50%; }
    .reveal .slides > section.noveo-title .title-separator, .reveal .slides .pdf-page > section.noveo-title .title-separator {
      width: 200px;
      border-bottom: 2px solid #699f00; }
    .reveal .slides > section.noveo-title h1, .reveal .slides .pdf-page > section.noveo-title h1 {
      font-size: 2.14em;
      font-weight: 700;
      margin-bottom: 60px; }
    .reveal .slides > section.noveo-title h2, .reveal .slides .pdf-page > section.noveo-title h2 {
      font-size: 0.57em;
      text-transform: uppercase;
      color: #9e9e9e;
      margin-top: 60px; }
  .reveal .slides > section div.borders, .reveal .slides .pdf-page > section div.borders {
    border: 1px solid #699f00; }
  .reveal .slides > section img, .reveal .slides .pdf-page > section img {
    border: none;
    box-shadow: none; }

.reveal ul, .reveal ul ul, .reveal ul ul ul {
  display: block;
  margin: 20px 0 0 0;
  list-style: none !important;
  padding: 0; }
  .reveal ul > li, .reveal ul ul > li, .reveal ul ul ul > li {
    padding-left: 1em;
    text-indent: -0.7em; }
    .reveal ul > li::before, .reveal ul ul > li::before, .reveal ul ul ul > li::before {
      content: "â— ";
      color: #699f00; }

.reveal ol, .reveal ol ol, .reveal ol ol ol {
  display: block;
  margin: 20px 0 0 0;
  list-style: none !important;
  padding: 0; }
  .reveal ol > li, .reveal ol ol > li, .reveal ol ol ol > li {
    padding-left: 1em;
    text-indent: -0.7em;
    counter-increment: ordered-list; }
    .reveal ol > li::before, .reveal ol ol > li::before, .reveal ol ol ol > li::before {
      content: counter(ordered-list) ". ";
      color: #699f00; }

.reveal h4.noveo-image-header {
  max-width: 35%;
  text-transform: uppercase;
  color: white;
  opacity: 0.9;
  line-height: 1.5;
  background-color: #699f00;
  margin-left: -80px;
  padding: 54px 80px 54px 80px; }

.reveal .slide-number {
  left: 80px;
  bottom: 54px;
  right: auto;
  background: none; }
  .reveal .slide-number span {
    font-family: "Roboto Mono", monospace;
    font-size: 28pt;
    color: #9e9e9e; }

.reveal section div.overlap-fragment pre {
  min-width: 100%; }

.reveal pre code {
  font-size: 16.8pt;
  line-height: 25.2pt; }
  .reveal pre code.tiny {
    font-size: 7.4666666667pt;
    line-height: 16.8pt; }
  .reveal pre code.small {
    font-size: 11.2pt;
    line-height: 16.8pt; }
  .reveal pre code.large {
    font-size: 25.2pt;
    line-height: 37.8pt; }

/*
@media(max-width: 1024px) {
  .reveal {
    font-size: $mainFontSize * $mobileScreenScale;
    pre code {
      font-size: $mainFontSize * $mobileScreenScale;
      line-height: $mainFontSize * $codeScale * $mobileScreenScale;

      &.tiny {
        font-size: $mainFontSize / $codeScale / $codeScale * $mobileScreenScale;
        line-height: $mainFontSize / $codeScale * $mobileScreenScale;
      }

      &.small {
        font-size: $mainFontSize / $codeScale * $mobileScreenScale;
        line-height: $mainFontSize * $mobileScreenScale;
      }

      &.large {
        font-size: $mainFontSize * $codeScale * $mobileScreenScale;
        line-height: $mainFontSize * $codeScale * $codeScale * $mobileScreenScale;
      }
    }
  }
}*/
