#header-left {
  position: absolute;
  top: $labelTopMargin;
  left: 0;
  z-index: 1000;
  opacity: 0.95;

  display: block;

  width: $labelWidth;
  height: $labelHeight;

  background-image: url($labelPath);
  background-size: $labelWidth $labelHeight;

  -webkit-print-color-adjust: exact;
}

#header-right {
  position: absolute;
  top: $overlayMargin;
  right: $overlaySideMargin;
  z-index: 1000;

  display: block;

  width: $logoWidth;
  height: $logoHeight;

  background-image: url($logoPath);
  background-size: $logoWidth $logoHeight;

  -webkit-print-color-adjust: exact;
}

#footer-right::after {
  position: absolute;
  bottom: $overlayMargin;
  right: $overlaySideMargin;
  z-index: 1000;
  content: $webText;
  color: $greyColor;

  display: block;
}

.has-dark-background {
  #header-left {
    background-image: url($labelInvertedPath);
  }
  #header-right {
    background-image: url($logoWhitePath);
  }
  #footer-right::after {
    color: transparent;
  }
}

.has-light-background {
  #footer-right::after {
    color: transparent;
  }
}
