#header-left {
  position: absolute;
  top: $labelTopMargin;
  left: 0;
  z-index: 1000;
  opacity: 0.95;

  display: block;

  width: $labelWidth;
  height: $labelHeight;

  background-image: url($labelPath);
  background-size: $labelWidth $labelHeight;

  -webkit-print-color-adjust: exact;
}

#header-right {
  position: absolute;
  top: $overlayMargin;
  right: $overlaySideMargin;
  z-index: 1000;

  display: block;

  width: $logoWidth;
  height: $logoHeight;

  background-image: url($logoPath);
  background-size: $logoWidth $logoHeight;

  -webkit-print-color-adjust: exact;
}

#footer-right::after {
  position: absolute;
  bottom: $overlayMargin;
  right: $overlaySideMargin;
  z-index: 1000;
  content: $webText;
  color: $greyColor;

  display: block;
}

.has-dark-background {
  #header-left {
    background-image: url($labelInvertedPath);
  }
  #header-right {
    background-image: url($logoWhitePath);
  }
  #footer-right::after {
    color: transparent;
  }
}

.has-light-background {
  #footer-right::after {
    color: transparent;
  }
}

@media(max-width: $screenLarge) {
  #header-left {
    top: $labelTopMargin * $scaleLarge;
    width: $labelWidth * $scaleLarge;
    height: $labelHeight * $scaleLarge;
    background-size: $labelWidth * $scaleLarge $labelHeight * $scaleLarge;
  }

  #header-right {
    top: $overlayMargin * $scaleLarge;
    right: $overlaySideMargin * $scaleLarge;
    width: $logoWidth * $scaleLarge;
    height: $logoHeight * $scaleLarge;
    background-size: $logoWidth * $scaleLarge $logoHeight * $scaleLarge;
  }

  #footer-right::after {
    bottom: $overlayMargin * $scaleLarge;
    right: $overlaySideMargin * $scaleLarge;
  }
}


@media(max-width: $screenMedium) {
  #header-left {
    top: $labelTopMargin * $scaleMedium;
    width: $labelWidth * $scaleMedium;
    height: $labelHeight * $scaleMedium;
    background-size: $labelWidth * $scaleMedium $labelHeight * $scaleMedium;
  }

  #header-right {
    top: $overlayMargin * $scaleMedium;
    right: $overlaySideMargin * $scaleMedium;
    width: $logoWidth * $scaleMedium;
    height: $logoHeight * $scaleMedium;
    background-size: $logoWidth * $scaleMedium $logoHeight * $scaleMedium;
  }

  #footer-right::after {
    bottom: $overlayMargin * $scaleMedium;
    right: $overlaySideMargin * $scaleMedium;
  }
}

@media(max-width: $screenNormal) {
  #header-left {
    top: $labelTopMargin * $scaleNormal;
    width: $labelWidth * $scaleNormal;
    height: $labelHeight * $scaleNormal;
    background-size: $labelWidth * $scaleNormal $labelHeight * $scaleNormal;
  }

  #header-right {
    top: $overlayMargin * $scaleNormal;
    right: $overlaySideMargin * $scaleNormal;
    width: $logoWidth * $scaleNormal;
    height: $logoHeight * $scaleNormal;
    background-size: $logoWidth * $scaleNormal $logoHeight * $scaleNormal;
  }

  #footer-right::after {
    bottom: $overlayMargin * $scaleNormal;
    right: $overlaySideMargin * $scaleNormal;
  }
}

@media(max-width: $screenSmall) {
  #header-left {
    top: $labelTopMargin * $scaleSmall;
    width: $labelWidth * $scaleSmall;
    height: $labelHeight * $scaleSmall;
    background-size: $labelWidth * $scaleSmall $labelHeight * $scaleSmall;
  }

  #header-right {
    top: $overlayMargin * $scaleSmall;
    right: $overlaySideMargin * $scaleSmall;
    width: $logoWidth * $scaleSmall;
    height: $logoHeight * $scaleSmall;
    background-size: $logoWidth * $scaleSmall $logoHeight * $scaleSmall;
  }

  #footer-right::after {
    bottom: $overlayMargin * $scaleSmall;
    right: $overlaySideMargin * $scaleSmall;
  }
}