// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------
// Include theme-specific fonts
@import url(../../lib/font/roboto/Roboto.css);
@import url(../../lib/font/roboto-mono/Roboto-mono.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #323335;
$headingColor: #323335;

$mainFontSize: 30px;
$mainFont: Roboto, sans-serif;
$codeFont: 'Roboto Mono', monospace;
$headingFont: Roboto, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 500;
$linkColor: #699f00;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: $linkColor;

$heading1Size: 3.33em; /* 3.33 * 30px <p> = 100px */
$heading2Size: 2.00em; /* 2.00 * 30px <p> = 60px  */
$heading3Size: 1.47em; /* 1.37 * 30px <p> = 44px  */
$heading4Size: 1.00em; /* 1.00 * 30px <p> = 30px  */

$triangleSize: 148px;
$logoWidth: 174px;
$logoHeight: 70px;

$mobileScreenScale: 0.35;
$codeScale: 1.5;

section.has-dark-background {
  &, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
}

// Theme template ------------------------------
@import "../template/theme";
@import "../template/utility";
@import "../template/overlay";
// ---------------------------------------------

// Custom code sizing --------------------------
.reveal {
  section div.overlap-fragment pre {
    min-width: 100%;
  }

  pre code {
    font-size: $mainFontSize;
    line-height: $mainFontSize * $codeScale;

    &.tiny {
      font-size: $mainFontSize / $codeScale / $codeScale;
      line-height: $mainFontSize / $codeScale;
    }

    &.small {
      font-size: $mainFontSize / $codeScale;
      line-height: $mainFontSize;
    }

    &.large {
      font-size: $mainFontSize * $codeScale;
      line-height: $mainFontSize * $codeScale * $codeScale;
    }
  }
}


@media(max-width: 1024px) {
  .reveal {
    font-size: $mainFontSize * $mobileScreenScale;

    pre code {
      font-size: $mainFontSize * $mobileScreenScale;
      line-height: $mainFontSize * $codeScale * $mobileScreenScale;

      &.tiny {
        font-size: $mainFontSize / $codeScale / $codeScale * $mobileScreenScale;
        line-height: $mainFontSize / $codeScale * $mobileScreenScale;
      }

      &.small {
        font-size: $mainFontSize / $codeScale * $mobileScreenScale;
        line-height: $mainFontSize * $mobileScreenScale;
      }

      &.large {
        font-size: $mainFontSize * $codeScale * $mobileScreenScale;
        line-height: $mainFontSize * $codeScale * $codeScale * $mobileScreenScale;
      }
    }
  }
}