// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------
// Include theme-specific fonts
@import url(../../lib/font/roboto/Roboto.css);
@import url(../../lib/font/roboto-mono/Roboto-mono.css);

$screenLarge: 1680px;
$screenMedium: 1366px;
$screenNormal: 1024px;
$screenSmall: 750px;

$scaleLarge: 0.71;
$scaleMedium: 0.53;
$scaleNormal: 0.39;
$scaleSmall: 0.25;

// Override theme settings (see ../template/settings.scss)
$backgroundColor: white;

//Label
$labelPath: "img/label_android.svg";
$labelInvertedPath: "img/label_android_inverted.svg";
$labelWidth: 277px;
$labelHeight: 70px;
$labelTopMargin: 60px;

//Logo
$logoPath: "img/university-logo.svg";
$logoWhitePath: "img/university-logo-white.svg";
$logoWidth: 242px;
$logoHeight: 94px;
$overlayMargin: 54px;
$overlaySideMargin: 80px;
$separatorWidth: 200px;

$webText: "";

$slideTopMargin: $logoHeight;

$androidColor: #699f00;
$mainColor: #323335;
$headingColor: #323335;
$greyColor: #9e9e9e;

$mainFont: Roboto, sans-serif;
$codeFont: 'Roboto Mono', monospace;
$headingFont: Roboto, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 500;
$linkColor: $androidColor;
$linkColorHover: lighten($linkColor, 15%);
$linkColorInverted: lighten($linkColor, 15%);
$linkColorInvertedHover: lighten($linkColorInverted, 15%);
$selectionBackgroundColor: $linkColor;

$titleBlockMargin: 60px;
$mainFontSize: 28pt;
$mainCodeSize: 16.8pt;
$heading1Size: 1.77em;
$heading2Size: 1.33em;
$heading3Size: 1.11em;
$heading4Size: 1.00em;

$titleMainFontSize: 32pt;
$titleHeader1Size: 2.14em;
$titleHeader2Size: 0.57em;

$mobileScreenScale: 0.35;
$codeScale: 1.5;

section.has-dark-background {
  &, h1, h2, h3, h4, h5, h6 {
    color: white;
  }
}

// Theme template ------------------------------
@import "../template/theme";
@import "../template/utility";
@import "../template/overlay";
// ---------------------------------------------

// Custom code sizing --------------------------
html {
  font-size: $mainFontSize;
}
.reveal {
  &.has-dark-background, &.has-light-background {
    .slide-number {
      span {
        color: transparent;
      }
    }
  }

  .slides > section, .slides .pdf-page > section {
    width: 91%;
    padding: $overlaySideMargin + $slideTopMargin $overlaySideMargin $overlaySideMargin $overlaySideMargin;
    section {
      width: 92.5%;
      margin-top: $overlaySideMargin + $slideTopMargin - $blockMargin;
      &.has-dark-background, &.center, &.center-vertical {
        padding-top: $overlaySideMargin - $blockMargin;
        margin-top: $overlaySideMargin - $blockMargin;
      }
    }

    &.noveo-title {
      font-size: $titleMainFontSize;
      padding-top: $overlaySideMargin;
      * {
        width: 50%;
      }
      .title-separator {
        margin: 0;
        width: $separatorWidth;
        border-bottom: 2px solid $androidColor;
      }
      h1 {
        font-size: $titleHeader1Size;
        font-weight: 700;
        margin-bottom: $titleBlockMargin;
      }
      h2 {
        font-size: $titleHeader2Size;
        text-transform: uppercase;
        color: $greyColor;
        margin-top: $titleBlockMargin;
      }
    }

    li p {
      display: inline;
    }
    div.borders {
      border: 1px solid $androidColor;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $blockMargin;
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }

    img {
      border: none;
      box-shadow: none;
    }
  }

  ul, ul ul, ul ul ul {
    display: block;
    margin: $blockMargin 0 0 0;
    list-style: none !important;
    padding: 0;
    > li {
      padding-left: 1em;
      text-indent: -0.7em;
      &::before {
        content: "â— ";
        color: $androidColor;
      }
    }
  }

  ol, ol ol, ol ol ol {
    display: block;
    margin: $blockMargin 0 0 0;
    list-style: none !important;
    padding: 0;
    > li {
      padding-left: 1em;
      text-indent: -0.7em;
      counter-increment: ordered-list;
      &::before {
        content: counter(ordered-list) ". ";
        color: $androidColor;
      }
    }
  }

  .noveo-image-header {
    max-width: 35%;
    text-transform: uppercase;
    color: white;
    opacity: 0.9;
    line-height: 1.5;
    background-color: $androidColor;
    margin-left: -1 * $overlaySideMargin;
    padding: $overlayMargin $overlaySideMargin $overlayMargin $overlaySideMargin;
  }

  .slide-number {
    left: $overlaySideMargin;
    bottom: $overlayMargin;
    right: auto;
    background: none;
    span {
      font-family: "Roboto Mono", monospace;
      font-size: $mainFontSize;
      color: $greyColor;
    }
  }

  pre {
    min-width: 100%;
  }

  pre code {
    &.tiny {
      font-size: $mainCodeSize / $codeScale / 1.2;
      line-height: $mainCodeSize / 1.2;
    }

    &.small {
      font-size: $mainCodeSize / $codeScale;
      line-height: $mainCodeSize;
    }

    font-size: $mainCodeSize;
    line-height: $mainCodeSize * $codeScale;

    &.large {
      font-size: $mainCodeSize * $codeScale;
      line-height: $mainCodeSize * $codeScale * $codeScale;
    }
  }
}






@import "../template/media";