<div class="fragment fade-out overlap-fragment" data-fragment-index="1">
    <h3>&lt;pre>&lt;code class="tiny"></h3>
    <pre><code class="tiny" data-trim data-noescape>
                    @NonNull
                    private static OkHttpClient.Builder getDefaultOkHttpBuilder() {
                        return new OkHttpClient.Builder()
                                .addInterceptor(getHttpLoggingInterceptor());
                    }

                    @NonNull
                    private static HttpLoggingInterceptor getHttpLoggingInterceptor() {
                        final HttpLoggingInterceptor httpLoggingInterceptor = new HttpLoggingInterceptor();
                        httpLoggingInterceptor.setLevel(HttpLoggingInterceptor.Level.BODY);
                        return httpLoggingInterceptor;
                    }
                </code></pre>
</div>
<div class="fragment current-visible fade-up fade-out overlap-fragment" data-fragment-index="1">
    <h3>&lt;pre>&lt;code class="small"></h3>
    <pre><code class="small" data-trim data-noescape>
                    @NonNull
                    private static OkHttpClient.Builder getDefaultOkHttpBuilder() {
                        return new OkHttpClient.Builder()
                                .addInterceptor(getHttpLoggingInterceptor());
                    }

                    @NonNull
                    private static HttpLoggingInterceptor getHttpLoggingInterceptor() {
                        final HttpLoggingInterceptor httpLoggingInterceptor = new HttpLoggingInterceptor();
                        httpLoggingInterceptor.setLevel(HttpLoggingInterceptor.Level.BODY);
                        return httpLoggingInterceptor;
                    }
                </code></pre>
</div>
<div class="fragment current-visible fade-up fade-out overlap-fragment" data-fragment-index="2">
    <h3>&lt;pre>&lt;code></h3>
    <pre><code data-trim data-noescape>
                    @NonNull
                    private static OkHttpClient.Builder getDefaultOkHttpBuilder() {
                        return new OkHttpClient.Builder()
                                .addInterceptor(getHttpLoggingInterceptor());
                    }

                    @NonNull
                    private static HttpLoggingInterceptor getHttpLoggingInterceptor() {
                        final HttpLoggingInterceptor httpLoggingInterceptor = new HttpLoggingInterceptor();
                        httpLoggingInterceptor.setLevel(HttpLoggingInterceptor.Level.BODY);
                        return httpLoggingInterceptor;
                    }
                </code></pre>
</div>
<div class="fragment fade-up overlap-fragment" data-fragment-index="3">
    <h3>&lt;pre>&lt;code class="large"></h3>
    <pre><code class="large" data-trim data-noescape>
                    @NonNull
                    private static OkHttpClient.Builder getDefaultOkHttpBuilder() {
                        return new OkHttpClient.Builder()
                                .addInterceptor(getHttpLoggingInterceptor());
                    }

                    @NonNull
                    private static HttpLoggingInterceptor getHttpLoggingInterceptor() {
                        final HttpLoggingInterceptor httpLoggingInterceptor = new HttpLoggingInterceptor();
                        httpLoggingInterceptor.setLevel(HttpLoggingInterceptor.Level.BODY);
                        return httpLoggingInterceptor;
                    }
                </code></pre>
</div>